$accent-color: #9155fd;
$accent-color-80: #9155fdE0;
$accent-color-50: #9155fd80;
$accent-color-40: #9155fd66;
$accent-color-20: #9155fd33;
$accent-shade-color: #cfb4fe;

$text-color: #3A3541;
$text-color-80: #3A3541E0;
$text-color-50: #3A354180;
$text-color-30: #3A354166;
$text-color-20: #3A354133;

$error-color: #FF4D4F;